.main-header {
    background-color:#2c2043; 
    color: #DDBEA8; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 24px; 
    font-weight: bold; 
  }
  
  .header-links {
    display: flex;
    gap: 20px; 
  }
  
  .header-link {
    color: #F3DFC1;
    text-decoration: none;
  }