.left-sidebar {
    position: fixed;
    left: 0;
    top: 60px; 
    width: 200px;
    background-color: #6E7E85; 
    color: #fff; 
    padding: 20px;
    overflow-y: auto; 
    height: 100%;
  }
  
  .left-sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .left-sidebar li {
    margin-bottom: 10px;
  }
  
  .left-sidebar a {
    color: #fff;
    text-decoration: none;
  }