.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-content {
  margin-left: 250px; /* Adjust to match the width of the left sidebar */
  padding: 20px;
}
.table-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 200px; /* Adjust the value as needed */

}

.table-cell {
  flex: 1;
  min-width: 0;
  white-space: normal;
  word-wrap: break-word;
  padding: 8px;
  border: 1px solid #ccc;
}

.table-header {
  white-space: nowrap; /* Prevent text from wrapping in headers */
  font-weight: bold;
  background-color: #f2f2f2;
  min-width: 200px; /* Adjust the value as needed */

}

.error-message {
  margin-left: 250px; /* Adjust to match the width of the left sidebar */
  padding: 20px;
  background-color: #ff5757; /* Background color for error message */
  color: #fff; /* Text color for error message */
  border: 2px solid #ff0000; /* Border for error message */
  border-radius: 5px; /* Rounded corners for the error message */
  font-size: 16px; /* Font size for the error message */
}